<div class="container">
  <form class="form">
    <div class="form-group">
      <label for="wishText">Add a wish</label>
      <input
        type="text"
        class="form-control"
        id="wishText"
        name="wishText"
        [(ngModel)]="newWishText"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="$event.preventDefault(); addWishItem()"
    >
      Add
    </button>
  </form>

  <div class="row mt-3">
    <div class="col-sm-2">
      <select class="form-select" [(ngModel)]="listFilter" (ngModelChange)="filterChanged($event)">
        <option value="all">All</option>
        <option value="active">active</option>
        <option value="fullfilled">fullfilled</option>
      </select>
    </div>
  </div>

  <div *ngIf="visibleItems.length === 0">There is nothing to be rendered</div>
  <ul *ngIf="visibleItems.length > 0" class="wish-list">
    <li *ngFor="let item of visibleItems; index as i" class="list-group-item">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            class="checlbox"
            [checked]="item.isComplete"
            [attr.any-attribute-name]="i"
            (click)="toggleItem(item)"
          />
          {{ item.wishText }}
        </label>
      </div>
    </li>
  </ul>
  <!-- another way of doing the same thig above -->
  <br />
  <br />
  <br />
  <div *ngIf="items.length === 0; then noItems; else showItems"></div>
  <ng-template #noItems>There is nothing to be rendered</ng-template>
  <ng-template #showItems>
    <ul *ngIf="items.length > 0" class="wish-list">
      <li *ngFor="let item of items" class="list-group-item">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="checlbox" /> {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
